/*
ADD TO CART BUTTON
background-color: #432000;

ITEM BUTTONS
background-color: #FFECC7;
*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'PixelFont', sans-serif;
    background-color: #EEF0F4;
    color: #432000;

}

.container {
    height: 100vh;
    display: flex;  
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
    margin: 30px auto;
    width: 275px;
    user-select: none;
}

input {
    font-family: 'PixelFont', sans-serif;
    text-align: center;
    color: #432000;
    background-color: #DCE1EB;
    border: none; 
    border-radius: 7px;
    padding: 15px;
    font-size: medium;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    
}

button {
    font-family: 'PixelFont', sans-serif;
    font-size: medium;
    border:none;
    padding: 15px;
    border-radius: 7px;
    color: #FDFDFD;
    background-color: #AC485A;
    width: 100%;
}

button:hover{
    background-color: #432000;
    cursor: pointer;
}

img {
    max-width: 150px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    
}

ul li {
    border-radius: 7px;
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}

@font-face {
    font-family: "PixelFont";
    src: url(pixeloid-font/PixeloidSansBold-PKnYd.ttf);
}